/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Font  */
.font-hanke {
  font-family: "Hanken Grotesk", sans-serif;
}

/* Custom Gradients */
.bg-light-slate-blue {
  background: linear-gradient(135deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.bg-light-royal-blue {
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.circle-violet-blue {
  background: conic-gradient(hsla(256, 72%, 46%, 1), hsla(256, 72%, 46%, 1));
  border-radius: 50%;
}

.circle-persian-blue {
  background: conic-gradient(hsla(241, 72%, 46%, 0), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
}
